aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
bs4
certifi
cfscrape
charset-normalizer
click
Flask
frozenlist
idna
itsdangerous
Jinja2
lxml
MarkupSafe
multidict
pycryptodomex
python-dateutil
pytz
requests
six
soupsieve
telepota
urllib3
Werkzeug
yarl
selenium
webdriver_manager