aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
bs4
certifi
cfscrape
charset-normalizer
click
Flask
frozenlist
idna
itsdangerous
Jinja2
lxml
MarkupSafe
multidict
pycryptodomex
requests
soupsieve
telepota
urllib3
Werkzeug
yarl
